/* navbar.css */
.navbar {
    width: 100%;              /* Full width */
    display: flex;            /* Flex container */
    justify-content: center;  /* Center children horizontally */
    align-items: center;      /* Center children vertically */
    gap: 16px;                /* Space between children */
    flex-wrap: wrap; /* Allow items to wrap if there's not enough space */
    font-weight: 500; /* Corrected font weight */
    color: white;             /* White text color */
    font-size: 16px;          /* Font size of 16 pixels */
    padding-top: 8px;         /* Padding top */
    padding-bottom: 8px;      /* Padding bottom */
    position: fixed;          /* Fixed position */
    top: 0;                   /* Stick to the top */
    left: 0;                  /* Stick to the left */
    z-index: 10;              /* Stack order */
  }
  
  .navbar-button {
    background-color: rgba(84, 84, 84, 0.18); /* Semi-transparent grey background */
    padding: 0.5rem 1rem; /* Y-axis padding 0.5rem, X-axis padding 1rem */
    max-width: 360px; /* Maximum width of the button */
    box-shadow: inset 0px 2px 4px 0px rgba(223, 223, 223, 0.17); /* Inner shadow with light grey color */
  border-radius: 16px; /* Rounded corners with 16px radius */
    }


    /* Style for the dropdown container */
.navbar-dropdown {
  position: relative; /* Position the dropdown relative to its parent */
}

/* Style for the dropdown button */
.navbar-dropdown-button {
  background-color: rgba(84, 84, 84, 0.18);
  padding: 0.5rem 1rem;
  max-width: 360px;
  box-shadow: inset 0px 2px 4px 0px rgba(223, 223, 223, 0.17);
  border-radius: 16px;
  cursor: pointer; /* Change mouse cursor on hover */
}

/* Dropdown menu container, initially hidden */
.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 12px 16px;
  color: black;
}

/* Style for dropdown items */
.navbar-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

/* Style for hover state of dropdown items */
.navbar-dropdown-content a:hover {
  background-color: #f1f1f1;
}
